@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  min-width: 10vh;
}

@font-face {
  font-family: KanjiChart;
  src: url("/font/thick-round-gothic.woff2");
}
